// ================== 滚动条美化样式 ==================
/* 滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/* 滑动块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--el-color-primary);
}

/* 轨道 */
// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 5px var(--el-border-color);
//   background: var(--el-border-color);
// }

body {
  font-family: Inter, system-ui, Avenir, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

#app,
body,
html {
  height: 100%;
}
h1,
h2,
h3,
spanh4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: var(--el-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--el-color-primary-light-9);
  color: var(--el-color-primary);
}

.el-button {
  .icon {
    margin-right: 5px;
  }
}

.el-form--inline {
  .el-input,
  .el-select {
    width: 200px;
  }
}

.g-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.g-tools {
  border: 1px solid var(--el-color-primary-light-7);
  margin-bottom: 15px;
  .g-forms {
    padding: 10px;
    background-color: var(--el-color-primary-light-9);

    .el-form {
      .el-form-item {
        margin-bottom: 0;
      }
    }
  }
  .g-btns {
    padding: 6px 10px;
    border-top: 1px solid var(--el-color-primary-light-7);
  }
}

// 统计文字加数字
.g-text-number {
  font-size: 14px;
  margin-right: 20px;
  b {
    color: var(--el-color-primary);
  }
}

.el-dialog {
  padding: 0;
  .el-dialog__header {
    padding: 0;
    border-bottom: 1px solid var(--el-border-color);
    padding-left: 15px;
  }
  .el-dialog__body {
    padding: 15px;
  }
  .el-dialog__footer {
    padding: 10px;
    justify-content: right;
  }
}
.is-fullscreen {
  display: flex;
  flex-direction: column;
  .el-dialog__body {
    flex: 1;
    padding: 15px;
    box-sizing: border-box;
  }
}

.g-dialog-header {
  display: flex;
  height: 40px;
  h3 {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  a {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      color: #fff;
      background-color: var(--el-color-danger);
    }
  }
}
