// ================== 滚动条美化样式 ==================
/* 滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* 滑动块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--el-color-primary);
}

/* 轨道 */
// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 5px var(--el-border-color);
//   background: var(--el-border-color);
// }

body {
  font-family: Inter, system-ui, Avenir, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

#app,
body,
html {
  height: 100%;
}

h1,
h2,
h3,
spanh4,
h5,
h6,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

a, .g-link {
  color: var(--el-color-primary);
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--el-color-primary-light-9);
  color: var(--el-color-primary);
}

// 文本超出容器宽度时显示省略号
.g-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}















// el-from 内联下的 Input、Select 表单宽度
.el-form--inline {

  .el-input,
  .el-select {
    width: 200px;
  }
}

// 表单中 el-tree 的样式
.el-form {

  // 解决label字数超长布局错乱的问题
  .el-form-item__label {
    line-height: normal;
    text-align: right;
    align-items: center;
  }

  .el-form-item__content {
    .el-tree {
      width: 100%;
      min-height: 150px;
      max-height: 300px;
      overflow: hidden;
      overflow-y: auto;
      border: 1px solid var(--el-border-color);
      border-radius: var(--el-border-radius-base);
    }
  }
}

// 查询主页基本布局
.g-tools {
  border: 1px solid var(--el-color-primary-light-7);
  margin-bottom: 15px;

  .g-forms {
    padding: 10px;
    padding-bottom: 5px;
    background-color: var(--el-color-primary-light-9);

    .el-form {
      .el-form-item {
        margin-bottom: 5px;
      }

      .el-row {
        padding: 0 10px;
      }
    }
  }

  .g-btns {
    padding: 6px 10px;
    border-top: 1px solid var(--el-color-primary-light-7);
    .g-info{
      margin-right: 20px;
      font-size: 14px;
      color: var(--el-text-color-regular);
      b{
        color: var(--el-color-primary)
      }
    }
  }
}

// 表格加分页区域
.g-table {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .g-table-self {
    width: 100%;
    flex: 1;
    .el-table {
      height: 100%;
    }
  }

  .g-table-pafer {
    width: 100%;
    display: flex;
    justify-content: right;
    .el-pagination {}
  }
  .is-link{
    padding: 0;
    border: 0;
  }
}
.g-table-self, .g-table-pafer {width: 100%;}

// 统计文字加数字
.g-text-number {
  font-size: 14px;
  margin-right: 20px;

  b {
    color: var(--el-color-primary);
  }
}

// base-dialog 弹窗组件定义的样式
.g-dialog {
  padding: 0 !important;

  .el-dialog__header {
    padding: 0;
    border-bottom: 1px solid var(--el-border-color);
    padding-left: 15px;

    // 自定义头部
    .g-dialog-header {
      display: flex;
      height: 40px;

      h3 {
        flex: 1;
        display: flex;
        align-items: center;
        font-size: 16px;
      }

      a {
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .fullscreen {
        &:hover {
          color: #fff;
          background-color: var(--el-color-primary);
        }
      }

      .close {
        &:hover {
          color: #fff;
          background-color: var(--el-color-danger);
        }
      }
    }
  }

  .el-dialog__body {
    padding: 15px;

    h4 {
      margin: 0 0 15px;
      padding-left: 10px;
      border-left: var(--el-color-primary) 4px solid;
    }
  }

  .el-dialog__footer {
    padding: 10px;
    justify-content: right;
  }
}

// 弹窗全屏状态下布局
.is-fullscreen {
  display: flex;
  flex-direction: column;

  .el-dialog__body {
    flex: 1;
    padding: 15px;
    box-sizing: border-box;
  }
}



// 图标样式
.g-icon {
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}


.g-icon-r {
  margin-right: 0.3em;
}

.el-button {
  .icon {
    margin-right: 5px;
  }
}

// 表格中图标样式
.el-table-fixed-column--right {
  .g-icon {
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
  }

  .g-icon-r {
    cursor: pointer;
    width: 1.4em;
    height: 1.4em;
  }
}

.el-table {
  thead{
    tr{
      .el-table__cell{
        background-color: var(--el-fill-color-light);
      }
    }
  }
  tbody {
    .current-row {
      .el-table__cell {
        background-color: var(--el-color-primary-light-7) !important;
      }
    }
  }
}

.el-drawer {
  h4 {
    display: flex;
    align-items: center;

    .g-icon-r {
      color: var(--el-color-primary);
    }
  }
}

// 菜单缩进增加（原有基础上乘1.5）
.el-menu--vertical:not(.el-menu--collapse):not(.el-menu--popup-container) .el-menu-item,
.el-menu--vertical:not(.el-menu--collapse):not(.el-menu--popup-container) .el-menu-item-group__title,
.el-menu--vertical:not(.el-menu--collapse):not(.el-menu--popup-container) .el-sub-menu__title {
  padding-left: calc(var(--el-menu-base-level-padding) + var(--el-menu-level)*var(--el-menu-level-padding)* 1.5);
}

// 表格复选框居中
.el-table__body-wrapper .el-table-column--selection>.cell,
.el-table__header-wrapper .el-table-column--selection>.cell {
  justify-content: center;

  // 放大表格复选框按钮
  .el-checkbox{
    .el-checkbox__inner {
      width: 16px;
      height: 16px;
    }
    .el-checkbox__inner:after {
      height: 8px;
      width: 5px;
    }
    .el-checkbox__input.is-indeterminate .el-checkbox__inner:before {
      top: 6px;
    }
  }
}


.el-card{
  box-shadow: none !important;
  .g-card-title{
    font-size: 16px;
    margin-bottom: 15px;
    border-left: 4px solid var(--el-color-primary);
    padding-left: 6px;
    
  }
}

.g-page-title{
  padding: 5px 0 10px;
  border-bottom: var(--el-color-primary) 1px solid;
  margin-bottom: 10px;
  h3{
    font-size: 15px;
    padding-left: 10px;
    font-weight: normal;
    border-left: var(--el-color-primary) 4px solid;
  }
}

.g-mb10{
  margin-bottom: 10px;
}
.g-mb15{
  margin-bottom: 15px;
}
.g-mb20{
  margin-bottom: 20px;
}

.g-primary{
  color: var(--el-color-primary);
}
.g-success{
  color: var(--el-color-success);
}
.g-warning{
  color: var(--el-color-warning);
}
.g-info{
  color: var(--el-color-info);
}
.g-danger{
  color: var(--el-color-danger);
}