<div class="el-form-item asterisk-left" span="12" itemrender="[object Object]">
  <label id="el-id-3887-63" for="el-id-3887-80" class="el-form-item__label" style="width: 80px">菜单类型</label>
  <div class="el-form-item__content">
    <div class="el-radio-group" role="radiogroup" aria-labelledby="el-id-3887-63" placeholder="菜单类型" options="[object Object],[object Object],[object Object]" id="el-id-3887-80">
      <label class="el-radio is-checked"
        ><span class="el-radio__input is-checked"><input class="el-radio__original" name="ElRadioGroup" type="radio" value="0" tabindex="0" /><span class="el-radio__inner"></span></span
        ><span class="el-radio__label">目录</span></label
      ><label class="el-radio"
        ><span class="el-radio__input"><input class="el-radio__original" name="ElRadioGroup" type="radio" value="1" /><span class="el-radio__inner"></span></span
        ><span class="el-radio__label">菜单</span></label
      ><label class="el-radio"
        ><span class="el-radio__input"><input class="el-radio__original" name="ElRadioGroup" type="radio" value="2" /><span class="el-radio__inner"></span></span
        ><span class="el-radio__label">按钮</span></label
      >
    </div>
  </div>
</div>

<div class="el-form-item asterisk-left">
  <label id="el-id-3887-93" for="el-id-3887-97" class="el-form-item__label">Activity name</label>
  <div class="el-form-item__content">
    <div class="el-radio-group" role="radiogroup" aria-labelledby="el-id-3887-93" id="el-id-3887-97">
      <label class="el-radio is-checked"
        ><span class="el-radio__input is-checked"><input class="el-radio__original" name="el-id-3887-94" type="radio" value="1" /><span class="el-radio__inner"></span></span
        ><span class="el-radio__label">New York</span></label
      ><label class="el-radio"
        ><span class="el-radio__input"><input class="el-radio__original" name="el-id-3887-94" type="radio" value="2" /><span class="el-radio__inner"></span></span
        ><span class="el-radio__label">Washington</span></label
      ><label class="el-radio"
        ><span class="el-radio__input"><input class="el-radio__original" name="el-id-3887-94" type="radio" value="3" /><span class="el-radio__inner"></span></span
        ><span class="el-radio__label">Los Angeles</span></label
      ><label class="el-radio"
        ><span class="el-radio__input"><input class="el-radio__original" name="el-id-3887-94" type="radio" value="4" /><span class="el-radio__inner"></span></span
        ><span class="el-radio__label">Chicago</span></label
      >
    </div>
  </div>
</div>
